# Ensure devDependencies are always installed in all environments.
# Vercel sets NODE_ENV=production which causes npm to
# skip devDependencies. We need them for `tsc` and `vite` during the build.
production=false
